<%- include("top.ejs") %>
<main class="login-container">
    <h2>כניסה לאפליקציה</h2>
    <% if (typeof error !== 'undefined' && error) { %>
        <div class="error-message"><%= error %></div>
    <% } %>
    <form class="login-form" action="/login/check" method="post">
        <div class="form-group">
            <input type="text" id="username" name="userName" required placeholder="שם משתמש:"/>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="pass" required placeholder="סיסמה:" />
        </div>
        <div class="form-group">
            <button type="submit">כניסה</button>
        </div>
    </form>
    <a href="/register" class="signup-link">אין לך חשבון? הירשם כאן</a>
</main>
<%- include("bottom.ejs") %>
