</div> <!-- סגירת main-content -->
</div> <!-- סגירת layout-container -->

<script>
    function toggleMenu() {
        document.getElementById('sidebar').classList.toggle('open');
    }

    function confirmLogout() {
        if (confirm("האם אתה בטוח שברצונך להתנתק?")) {
            window.location.href = "/logout";
        }
    }
</script>
</body>
</html>
